/* help seeing the boxes */
/* * {
  outline: 2px red dotted;
}

.display-flex {
  outline-offset: -2px;
  outline: 2px rgb(0, 26, 255) dotted;
} */

/* NOTE Initial Variables for the project. Variables can be all sorts of values that you want to re-use */
:root {
  --page: #fff6f0;
  --light: #f5f5f5;
  --black: #1F2130;
  --dark: #16063B;
  --primary: #713EDD;
  --header-padding-bottom: 10px;
  --number: 10;
  --page-x-margin: 45px;
}

body {
  background-color: var(--page);
  margin: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* NOTE to get our page to fill out vertically, we turned the body into a flex container with the column direction, and 100vh, then applied our '.grow' rule to the main, so it would grow into the rest of the space*/
  display: flex;
  flex-direction: column;
  height: 100dvh;
  /* NOTE dvh and vh, are a % of the current view port h for height */
  /* you can also use vw, dvw for view width, even though this is far less common in use */
}

/* NOTE unset can be used to remove the styles that the browser applies automatically to certain elements. Or you can apply your own style to overwrite it */
button {
  background-color: unset;
  border: unset;
  cursor: pointer;
  /* em is a calculated measurement based off the font size of the element */
  padding: 1em;
}

header {
  /* NOTE margin is invisible space on the outside of an element, padding is invisible space on the inside of elements */
  margin: 15px;
  margin-left: var(--page-x-margin);
  margin-right: var(--page-x-margin);
  padding: 10px;
}

.logo {
  width: 20px;
}

.nav-links {
  width: 75%;
}

/* NOTE different ways to create more specificity */
.nav-links>.active-link {
  color: var(--primary);
  text-decoration: underline;
}

.nav-links>a {
  text-decoration: none;
  color: var(--black);
  margin-right: 30px;
}

/* a.active-link {
  color: #713EDD;
  text-decoration: underline;
} */

/* .active-link {
  color: #713EDD !important;
  text-decoration: underline !important;
} */

.border-bottom {
  border-bottom: 1px var(--black) solid;
}

main {
  margin-left: var(--page-x-margin);
  margin-right: var(--page-x-margin);
  margin-top: 5vh;
}

main>section {
  /* NOTE quick margins */
  /* first value is the Y (top,bottom) second value is X (left, right)*/
  margin: 0px 10px;
}

.bold-font {
  font-weight: bold;
}

.lightweight-font {
  font-weight: lighter;
}

.double-big-font {
  font-size: 2em;
}

.spaced-out-text {
  line-height: 1.85em;
}

img {
  width: 100%;
}

.button-primary {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 100px;
}

footer {
  color: var(--light);
  background-color: var(--dark);
}

#learn-more div {
  padding: 50px;
  width: 22%
}



/* NOTE the classes below are what we consider "utility" classes, or classes that have only one or two, properties in their rule that can be combined for a desired effect */
.display-flex {
  display: flex;
}

.grow {
  flex-grow: 1;
  /* outline: #713EDD 5px dashed; */
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.width-50 {
  width: 50%;
}